
h1.text-center Admin Dashboard

section
  / header
  /   .page-header.h1 Manage Partners

  = react_component 'DashboardTabs', {  \
      auth_token: @auth_token,          \
      allTags: @all_tags,               \
      countries: @countries,            \
      languages: @languages,            \
      booklists: @booklists             \
    }
