<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have just been signed up as a partner for Worldreader!</h1>
    <p>Please log in at <a href="extranet.worldreader.org"></a> with the
      following credientials</p><br />
    <p><strong>Email: </strong><%= @user.email %></p>
    <p><strong>Password: </strong><%= @password %></p>
  </body>
</html>
