<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have just been signed up as a partner for Worldreader!
      Please verify your account information by logging into
      <a href="extranet.worldreader.org">our website</a> with the following
      credientials:
    </p>
    <div><strong>Email: </strong><%= @email %></div>
    <div><strong>Password: </strong><%= @password %></div>
    <p>If you beleive you received this notification by mistake, please notify
    admin@worldreader.org and we will sort out the situation. Thank you!</p>
    <div>Regards,</div>
    <div>The Worldreader Staff</div>
  </body>
</html>
