.container
  .row
    %h3 Users
    .column
      %table.table
        %tbody
          - @users.each do |user|
            %tr
              = render user
              - if user_signed_in?
                = link_to "Sign Out", destroy_user_session_path, :method => :delete
