$line-color-light: #ddd;
$line-color-dark: #aaa;

.topDiv {
  height: 65px;
  background: white;
}

.navbar-form {
  width: 100%;
}

.searchInput {
  float: left;
}

.searchButton {
  float: left;
  margin-left: 8%;
}

.add-button {
  float: right;
}

.listPartners {
  background: white;
  padding: 10px 10px 10px 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.noneSelectedDisplay {
  text-align: center;
  height: 100%;
  position: relative;
  padding-top: 100px;
  font-style: italic;
  font-size: medium;
}

.add-partner-display {
  background: #ffffff;
  overflow: scroll;
}

.add-partner-form {
  padding: 20px;
}

.new-user-input {
  margin-bottom: 20px;
  width: 50%;
}

.header {
  font-size: x-large;
  margin-top: 10px;
  text-align: center;
}

#admin-dashboard-nav {
  font-size: x-large;
  width: 100%;
}

#information {
  float: left;
  text-align: center;
  width: 33%;
}

#groups {
  text-align: center;
  width: 33%;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

#newPurchases {
  float: right;
  text-align: center;
  width: 33%;
}

.name {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.info {
  top: 50px;
}

.partnerDisplay {
  overflow: scroll;
  background-color: #ffffff;
}

#informationDisplay {
}

.partner-text-information > p {
  margin-bottom: 0;
}

.groupContainer {
  padding-left: 50px;
}

.groupExpand {
  float: right;
}

.groupBooks {
  max-height: 300px;
  overflow: scroll;
  padding-top: 25px;
  padding-left: 25px;
  overflow-x: hidden;
}

.purchaseDisplay {
  padding-left: 50px;
  padding-right: 50px;
}

.admin-dash-container {
  padding-bottom: 15px;
}

.tabBar {
  bottom: 0;
  position: absolute;
  top: 119px;
  width: 100%;
}

.tabDisplay {
  bottom: 0;
  position: absolute;
  top: 50px;
  width: 100%;
}

.height-100 {
  height: 100%;
}

.mainScreen {
  overflow: scroll;
}

.admin-nav-tabs {
  margin-top: 3px;
}

.badge {
  float: right;
}

#downloadPurchaseButton {
  background-color: #5cb85c;
}

#disapproveButton {
  background-color: #d9534f;
}

#downloadButton {
  background-color: #A9D0F5;
}

.action {
  margin-left: 15px;
}

#selectAllButton {
  float: left;
  padding-right: 10px;
  cursor: pointer;
}

#deselectAllButton {
  float: left;
  padding-right: 10px;
  cursor: pointer;
}

.top-buffer {
  margin-top: 20px;
}

.side-buffer {
  margin-left: 5px;
}

.inline {
  display: inline-block;
}

.centered.nav-tabs > li, .centered.nav-pills > li {
    float:none;
    display:inline-block;
}

.centered.nav-tabs, .center-nav-pills {
    text-align:center;
}

.transparent.navbar {
  background-color: transparent !important;
}

.underline {
  border-bottom: 2px solid #428bca;
}

.boundary-line {
  border-bottom: 2px solid $line-color-dark;
  padding-top: 30px;
}

.panel-boundary-bottom {
  border-bottom: 2px solid $line-color-dark;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
}

.book-title-table {
  max-width: 600px;
}

.panel-title {
  font-size: 23px;
  margin-left: 10px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.book-search-panel-left {
  border-right: 1px solid $line-color-light;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right: 10px;
  width: 49%;
}

.book-search-panel-right {
  border-left: 1px solid $line-color-light;
  float: left;
  margin-bottom: 5px;
  margin-left: -1px;
  margin-top: 5px;
  padding-right: 10px;
  width: 49%;
}

.book-search-fields {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  width: 100%;
}

.book-search-rows {
  margin: 0;
}

.book-search-list {
  list-style-type: none;
  margin: 5px;
}

.book-search-li-icon {
  color: $line-color-dark;
  float: right;
}

.list-padding {
  padding: 5px;
}

.tag-style {
  display: inline-block;
  font-size: 1.4rem;
  margin-right: 0.4rem;
}

.name-input-group {
  width: 100%;
}

.published-tag {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
  margin-left: 0.6rem;
}

.cursor {
  cursor: pointer;
}

