$cart-view-width: 250px;

.collapsed-book-tile {
    height: 180px;
    padding: 10px;
}

.collapsed-book-img-box {
    overflow: auto;
    width: 160px;
    height: 160px;
}

.collapsed-book-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 160px;
}

.collapsed-book-desc {
    white-space: nowrap;
    display: block;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expanded-book-tile {
    height: 340px;
    padding: 10px;
    outline: gray solid thin;
    background-color: white;
}

.expanded-book-img-box {
    overflow: auto;
    width: 320px;
    height: 320px;
}

.expanded-book-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 320px;
}

.expanded-book-desc {
    display: block;
    max-height: 150px;
    overflow: hidden;
}

.book-tags {
    margin-top: 1rem;
}

.book-tag {
    display: inline-block;
    margin-right: 0.5rem;
}

.expand-enter {
    height: 180px;
    overflow: hidden;
    transition: height .5s;

    .expanded-book-tile {
        height: 180px;
        padding: 10px;
        transition: all .5s;
    }

    .expanded-book-img-box {
        overflow: auto;
        width: 160px;
        height: 160px;
        transition: all .5s;
    }

    .expanded-book-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 160px;
        transition: all .5s;
    }

    .expanded-book-desc {
        display: block;
        max-height: 3rem;
        overflow: hidden;
        transition: all .5s;
    }
}

.expand-enter.expand-enter-active {
    height: 340px;

    .expanded-book-tile {
        height: 340px;
        padding: 10px;
        outline: gray solid thin;
        background-color: white;
    }

    .expanded-book-img-box {
        overflow: auto;
        width: 320px;
        height: 320px;
    }

    .expanded-book-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 320px;
    }

    .expanded-book-desc {
        display: block;
        max-height: 200px;
        overflow: hidden;
    }
}

.expand-leave {
    opacity: 0;
    transition: all .001s;
}

.expand-leave.expand-leave-active{
    opacity: 0;
}

.collapse-enter {
    height: 340px;
    overflow: hidden;
    transition: height .5s;

    .collapsed-book-tile {
        height: 340px;
        padding: 10px;
        outline: gray solid thin;
        background-color: white;
        transition: all .5s;
    }

    .collapsed-book-img-box {
        overflow: auto;
        width: 320px;
        height: 320px;
        transition: all .5s;
    }

    .collapsed-book-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 320px;
        transition: all .5s;
    }

    .collapsed-book-desc {
        display: block;
        max-height: 200px;
        overflow: hidden;
        transition: all .5s;
    }
}

.collapse-enter.collapse-enter-active {
    height: 180px;

    .collapsed-book-tile {
        height: 180px;
        padding: 10px;
    }

    .collapsed-book-img-box {
        overflow: auto;
        width: 160px;
        height: 160px;
    }

    .collapsed-book-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 160px;
    }

    .collapsed-book-desc {
        display: block;
        max-height: 3rem;
        overflow: hidden;
    }
}

.collapse-leave {
    opacity: 0;
    transition: opacity .001s;
}

.collapse-leave.collapse-leave-active{
    opacity: 0;
}

#book-searchbar{
    margin-bottom: 1rem;
}

#book-tagbar{
    margin-bottom: 1rem;
}

.bootstrap-tagsinput{
    padding: 0.5rem;
    margin-bottom: 0px;
    background-color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: none;
    display: block;
}

span.tag.label.label-info{
    font-size: 100%;
    font-weight: normal;
}
