
.booklist-img {
  width: 100px;
  padding-left: 10px;
}

.booklist-body {
  padding-left: 10px;
}

.booklist-selected {
  border-left: 2px solid #428bca;
}

.booklist-table-prospective {
  padding-top: 10px;
}
