$red-color: #d9534f;

.booklist-select {
  margin-bottom: 10px;
}

.booklist-title {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.add-books {
  padding-left: 5px;
}

.flag {
  height: 30px;
  opacity: 0.15;
  width: 30px;
}

.flag:hover {
  cursor: pointer;
}

tr.flagged-admin {
  background-color: #fbff97;
}

tr.flagged-vip {
  background-color: #ffe7e7;
}

img.flagged {
  opacity: 1;
}

.remove {
  color: #ff6969;
  margin-right: 10px;
}

.remove:hover {
  cursor: pointer;
}

.booklist-info-red {
  color: $red-color;
}
