.navbar {
  background-color: #ffffff !important;
}

li.end {
  margin-right: 15px;
}

a.navbar-brand {
  padding: 0px;
}

img.header-logo {
  height: 100%;
}

.pad-right {
  margin-right: 5px !important;
}

#modal-tab-content {
  margin-top: 1rem;
}

.password-field {
  margin-bottom: 1rem;
}