#header{
  max-width: 100%;
  background: white;
}

li.nav-logo{
  float: left;
}

img.header-logo{
  height: 4rem;
}

li.nav-link{
  text-align: center;
  display: block;
  float: right;
  margin-top: 1.5rem;
  margin-right: 1rem;
}